.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 24px 0;
  font-family: inherit;
  padding-bottom: 80px;
}

.pages {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pageButton {
  background: none;
  border: none;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 6px;
  cursor: pointer;
  transition:
    color 0.2s ease,
    background 0.2s ease;
  color: #575757;

  &.dark {
    color: #dedede;
  }

  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
  font-style: normal;
}

.active {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
  font-style: normal;
  background-color: #1212120d;
  color: #121212;
}

.activeDark {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
  font-style: normal;
  background-color: #1a1818;
  color: #dedede;
}

.arrow {
  background: none;
  border: none;
  font-size: 16px;
  padding: 4px 8px;
  cursor: pointer;
  transition: color 0.2s ease;

  &.light {
    color: #575757;
  }

  &.dark {
    color: #dedede;
  }
  &:disabled {
    cursor: default;
  }
}

.dots {
  color: #aaa;
  font-size: 14px;
  padding: 0 4px;
}
