.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
  margin: 24px 0;
  font-family: inherit;
}

.pages {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pageButton {
  background: none;
  border: none;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: color 0.2s ease, background 0.2s ease;

  color: #575757;

  &.dark {
    color: #DEDEDE; 
  }



}



.arrow {
  background: none;
  border: none;
  font-size: 16px;
  padding: 4px 8px;
  cursor: pointer;
  transition: color 0.2s ease;

  &:hover:not(:disabled) {
    color: #fff;
  }

 &.light {
    color: #575757; 
  }

 &.dark {
    color: #DEDEDE; 
  }
  &:disabled {
    opacity: 0.3;
    cursor: default;
  }
}

.dots {
  color: #aaa;
  font-size: 14px;
  padding: 0 4px;
}
