.card {
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
  background-color: #000;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transition: transform 0.6s ease;
  }
  &:hover img {
    transform: scale(1.1);
  }

  .info {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 31%;
    width: 76%;
    padding-left: 20px;
    flex: 0 0 auto;
    gap: 6px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 20px;
      width: 2px;
      height: 42px;
      border-radius: 1px;
    }

    @media (max-width: 768px) {
      &::before {
        display: none;
      }
    }
  }
}
.frontInfo,
.backInfo {
  transition: opacity 0.2s ease;
}
.frontInfo {
  opacity: 1;
  z-index: 2;
  position: relative;
  padding-bottom: 10px;

  h3 {
    font-family: "Cormorant SC", serif;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    font-style: normal;
    text-transform: uppercase;
  }

  p {
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.backInfo {
  opacity: 0;
  z-index: 1;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  pointer-events: none;
  padding-bottom: 10px;
  h3 {
    font-family: "Cormorant SC", serif;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    font-style: normal;
    text-transform: uppercase;
  }

  p {
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 20px;
    width: 2px;
    height: 42px;
    border-radius: 1px;
  }

  @media (max-width: 768px) {
    &::before {
      display: none;
    }
  }
}

.animateFastOut {
  --animate-duration: 0.25s;
  --animate-delay: 0s;
  animation-fill-mode: both;
}

.animateBackIn {
  --animate-duration: 0.52s;
  --animate-delay: 0.12s;
  animation-fill-mode: both;
}

.animateBackOut {
  --animate-duration: 0.18s;
  --animate-delay: 0s;
  animation-fill-mode: both;
}

.animateFrontIn {
  --animate-duration: 0.28s;
  --animate-delay: 0.14s;
  animation-fill-mode: both;
}

.card:hover .frontInfo {
  opacity: 0;
  transition-delay: 0s;
}

.card:hover .backInfo {
  opacity: 1;
  pointer-events: auto;
  transition-delay: 0.25s;
}

.cardText-light {
  color: red;
}

.info-dark {
  background: #121212;

  h3 {
    color: #dedede;
  }

  p {
    color: #ab8956;
  }
  &::before {
    background-color: #ab8956;
  }
}

.info-light {
  background: #ffffff;

  h3 {
    color: #121212;
  }

  p {
    color: #9b4b4b;
  }
  &::before {
    background-color: #9b4b4b;
  }
}

.image--light {
  background: #dedede;
}
.image--dark {
  background: #252525;
}
