.card {
  position: relative;
  width: 392px;
  height: 260px;
  overflow: hidden;
  background-color: #000;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

 .info {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
height: 31%;

  

  padding: 18px 10px 18px 18px;
  width: 70%;   
  box-sizing: border-box;
    
  gap: 6px;

  

  &::before {
    content: "";
    position: absolute;
    left: 0;         
    top: 18px;
    width: 2px;
    height: 42px;
   
    border-radius: 1px;
  }

  h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;

    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }

  p {
    margin: 4px 0 0;
    font-size: 13px;
 
    line-height: 1.2;
    font-weight: 600;
 
  }
}
}

.cardText-light {
  color: red;
}

  .info-dark {
    background: #121212;

    h3 {
      color: #DEDEDE;
    }

    p {
      color: #AB8956;
    }
     &::before {
 background-color: #AB8956;
     }
  }

    .info-light {
    background: #ffffff;

    h3 {
      color: #121212;
    }

    p {
      color: #9B4B4B;
    }
      &::before {
     background-color: #9B4B4B;
     }
  }
