.galleryContainer {
  width: 100%;
  max-width: 1240px;
  min-width: 1240px;
  height: auto;
  flex-direction: column;
  margin: 0 auto;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.gallery-light {
  background-color: #fff;
  color: #000;
}

.gallery > * {
  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
}

.toolbar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}