.header {
  padding: 35px 0;
  transition: all .2s ease-in;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

// .header-light {
//   background-color: #fff;
//   color: #000;
// }

.header-theme {
  cursor: pointer;
  background: none;
  border: none;
}

.header-logo {
  display: inline-block;
}
