.search {
  width: 100%;
  max-width: 336px;
  height: auto;

  display: flex;
  align-items: center;
  gap: 8px;

  border: 1px solid;
  border-radius: 8px;
  padding: 8px 12px;

  input {
    background: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    width: 180px;

    &::placeholder {
      color: inherit;
      opacity: 0.7;
    }
  }

  .icon {
    width: 16px;
    height: 16px;
  }
}

.search-light {
  background-color: #ffffff;
  border-color: #DEDEDE;

  input {
    color: #1a1818;
  }

  .icon {
    fill: #555;
  }
}


.search-dark {
  background-color: #1a1818;
  border-color: #1A1818;

  input {
    color: #ffffff;
  }

  .icon {
    fill: #888;
  }
}
